@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
button {
  @apply font-poppins;
}

body {
  @apply font-inter;
}

.text-gradient-primary {
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343
    )
    95%/200% 100%;
  @apply bg-clip-text w-fit text-transparent;
}

.bg-gradient-primary,
.nav-btn:hover,
.nav-btn.active {
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343
    )
    95%/200% 100%;
}

.nav-btn svg {
  @apply text-base;
}

.nav-btn:hover {
  @apply px-5;
}

.nav-btn:hover .text {
  display: inline;
}

svg {
  @apply text-xl;
}

.custom-shadow {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.my-btn {
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343
    )
    95%/200% 100%;
  @apply h-11 md:h-14 w-fit flex justify-center items-center pl-4 md:pl-8 font-bold bg-clip-text hover:bg-clip-border text-transparent hover:text-white border-2 border-primary rounded-full md:text-lg gap-4 pr-12 md:pr-16 relative duration-500;
}

.my-btn:hover span {
  @apply from-transparent to-transparent;
}

.my-btn span {
  @apply text-white bg-gradient-to-r from-accent to-primary rounded-full absolute right-0 h-11 w-11 md:h-14 md:w-14 aspect-square grid place-content-center;
}

/* Create a custom scrollbar */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #edf2f7;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-secondary/20;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary/30;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* progress bar */
.progress-gradient::-moz-progress-bar {
  --tw-bg-opacity: 1;
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343
    )
    95%/200% 100%;
}
.progress-gradient:indeterminate::after {
  --tw-bg-opacity: 1;
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343
    )
    95%/200% 100%;
}
.progress-gradient::-webkit-progress-value {
  --tw-bg-opacity: 1;
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343
    )
    95%/200% 100%;
}

.tab {
  @apply text-base-content/80;
}

.tab-active {
  @apply !text-white;
}

/* hide ion-icons tooltip */
ion-icon {
  pointer-events: none;
}

@media only screen and (min-width: 1024px) {
  .img-block {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-width: 1023px) {
  .img-block:before,
  .img-block:after {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    background: linear-gradient(
      95deg,
      #059dff,
      #6549d5,
      #e33fa1,
      #fb5343,
      #059dff,
      #6549d5,
      #e33fa1,
      #fb5343
    );
    background-size: 400%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: -1;
    animation: steam 20s linear infinite;
    @apply rounded-3xl;
  }

  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .img-block:after {
    filter: blur(5px);
  }
}
